li a {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}

h1 {
    color: yellow;
    font-weight: bolder;
    font-size: 50px;
    
}
body {
    background: white url("images/wallpaper.jpg");
}
.centered-content {
    display: inline-block;
    vertical-align: middle;
}